*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    margin-top: 125px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 80px; 
}

.heading{
    font-size: 1.3rem;
    text-align: center;
}

.form{
    width: 35vw;
    margin: 20vh auto 0 auto;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(2px);
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 5px 9px rgba(0, 0, 0.5, 0.9);
}

#LabelText{
    text-align: left;
    font-size: 1.4rem;
    font-weight: 700;
}

#username, #email {
    height: 35px;
    border-radius: 5px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.container1, .container2 {
    font-size: 1.2rem;
    font-weight: 600;
}

#Y, #N { 
    font-weight: 600;
}

#Rate {
    font-size: 1.7rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2.9rem;
    margin-bottom: 2rem;
}

.rating .star {
    cursor: pointer;
    color: grey;
}

.rating .star.selected {
    color: aqua;
}

.rating .star:hover {
    transform: scale(1.1);
}

button {
    padding: 10px;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
    width: 20%;
    color: white;
    background-color: rgb(3, 123, 123);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
}

.btn-group button:hover {
    color: black;
}
