*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}
html{
    /* Storing Colors In Variables */
    --body-clr: #f6f6fe;
    --primary-cLr: #05555c;
    --primary-light-clr: #eaf3fa;
    --links-cLr: #186f78;
    --text-clr: #3f7277;
}
body{
    width: 100%;
    min-height: 100vh;
}

.upperpart{
    width: 100%;
    padding: 30px 8%;
    padding-top: 140px;
}

h1{
    position: relative;
    font-size: 55px;
    font-weight: 800;
    margin: 10px 0 30px;
    color:var(--body-clr);
    text-align: center;

}
.button-group{
    text-align: center;
    margin-bottom: 25px;
}
.button-group .button{
    display: inline-block;
    padding: 9px 20px;
    margin: 5px;
    background-color: rgb(198, 228, 255);
    color:var(--primary-cLr);
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;


}
.button-group .button.active{
    background-color: var(--primary-cLr);
    color: var(--body-clr);
}
.button-group .button:hover{
    background-color: rgb(104, 194, 222);
    color: var(--body-clr);
}
.contentpart{
    width: 100%;
    padding: 5px 2%;
    /* background-color:var(--body-clr);   */
}
.contentpart {
    display:flex;
    justify-content:center;
    align-items:normal;
    flex-wrap: wrap;
}
.contentpart .Thumbnail {
    width: 350px;
    height: 250px;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgb(133, 132, 132);
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 15px;
    transition: 100ms;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* Img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
} */

.Thumbnail:hover {
   transform: scale(1.06);
   
}

.modal {
    display: none; /* Show the modal */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefeef ;
    border-radius:25px;
    margin: 10.5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 0 3px 0 lightblue;
    width: 80%;
    height: auto; 
    max-height:530px ;/* Could be more or less, depending on screen size */
}

/* .image-container img{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 5250px;
    border-radius: 5px;
} */
/* Caption of Modal Image */
/* #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 30px;
  color: #ff0000;
  padding: 10px 0;
  height: 150px;
} */

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content {
  display: flex;
  align-items: flex-start;
}

#img01 {
  max-width: 50%;
  height: auto;
}

#description {
  padding-left: 20px;
  max-width: 50%;
}

.image-container {
    display: flex;
    align-items: center;
}

.modal-image {
    max-width: 50%;
    height: auto;
    max-height: 480px;
    border-radius: 5px;
}

.description {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 50%;

}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 125px;
  right: 40px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}