@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    min-height: 100vh;
    background: url(images/Home/BGPEd.png)no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    background-position: fixed;
    width: 100vw; 
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
   
    display:flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
   
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

/* .logo{
    justify-content: flex-start;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-right: 65px;
    
} */

.header::before{
    content: '';
    position: absolute;
    top: 0;
    /* left: -100%; */
    left: 0;
    width: 100%  ;
    height: 100%;
    /* background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
    background: rgba(255, 255, 255, .1);  */
    background: rgba(0, 0, 0, -1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%  ;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
    /* background: rgba(255, 255, 255, .1); 
    background: rgba(0, 0, 0, -1); */
    /* backdrop-filter: blur(50px); */
    /* z-index: -1; */

}


.header:hover::after{
    left: 100%;
}

.logo{
 
    text-decoration: none;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-right: auto;
    align-self: left;

}



.navbar a {
    
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    
    padding-bottom: 5px;
    padding-left: 8px;
    font-weight: 750;
    margin-left: 30px;
    transition: .3s;
    
}



.navbar a:hover, .navbar a.active {
    color: #0ef;
    
       
}

.navbar a span {
    position:absolute;
    top: 0;
    left: 0;
    width:105%;
    height: 100%;
   
    z-index: -1;
    border-bottom: 3px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}


.navbar a:hover span, .navbar a.active span {
    transform: scale(1) translateY(0);
    opacity: 1;

}



#check {
    display: none;
}



.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;

}




/*Breakpoints*/
/* @media (max-width:992px){
    .header{
        padding: 1.3rem 5%;

    }
}

@media (max-width:768px){
    .icons{
        display: inline-flex;
    }


    #check:checked~.icons #menu-icon {
        display: none;

    }
    

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;

    }
.navbar{
        position: absolute;
        top: 100%;
        
        left: 0;
        width: 100;
        
        background: rgba(0, 0, 0, -1);
        backdrop-filter: blur(50px);
        box-shadow: 0. 5rem 1rem rgba(0, 0, 0, -1);
        overflow: hidden;
        transition: .3s ease;
    } 

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
        flex-direction: column; 
        transition: .3s ease;
    }


    #check:checked~.navbar {
    
        height: 0;
    }
    
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform-origin: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i)) ;
    }
    
}
     */

/* ///////////////////////////////////////////////////////////////////// */
/*  */


.mission{
    margin: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.missionimg{
    height: 300px;
    width: 300px;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    transition: box-shadow 0.3s ease; 
}

.missionimg:hover {
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9); 
}

.missionheading{
    margin-left: 20px;
    color: white;
    font-size: 90px;
    font-weight: 705;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    transition: text-shadow 0.3s ease; 
}

.missionheading:hover {
    text-shadow: 4px 20px 26px rgba(0, 0, 0, 0.9); 
}

.missioncontent{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin-top: 20px;
    margin-bottom: 80px;
}

/* .missioncontent:hover{
    transform: scale(1.03);
    transition: all 0.1s ease;
     
} */

.missioncontent p{
   margin-top: 20px;
    color: white;
    width: 600px;
    font-size: 26px;
    font-weight: 550;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1)
}


h3{
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}


.card{
    width: 325px;
    background-color:whitesmoke;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    margin: 20px;
}

.card img{
    width: 325px;
    height: auto;
}

.card-content{
    padding: 1rem;
}



.button-a{
    background: #78E0F7;
    font-weight: 500;
    margin: 1rem 0 0 70%;
    padding: 8px 8px;
    border-radius: 6px;
    border: 1px;
}

.button-a:hover{
   box-shadow:  0 0 5px #78E0F7,
                0 0 20px #78E0F7,
                0 0 50px #78E0F7,
                0 0 100px #78E0F7;


}


.button-b{
    background:#03D39F ;
    margin: 1rem 0 0 70%;
    padding: 8px 8px;
    border-radius: 6px;
    border: 1px;
}

.button-b:hover{
   box-shadow:  0 0 5px #03D39F,
                0 0 20px #03D39F,
                0 0 50px #03D39F,
                0 0 100px #03D39F;
                


}



.button-c{
    background: #FF7675;
    margin: 1rem 0 0 70%;
    padding: 8px 8px;
    border-radius: 6px;
    border: 1px;
}

.button-c:hover{
   box-shadow:  0 0 5px #FF7675,
                0 0 25px #FF7675,
                0 0 50px #FF7675,
                0 0 100px #FF7675;;
                


}

.card:hover{
   background-color: rgba(62, 62, 62, 62);
   color: white;
   transform: scale(1.03);
   transition: all 1s ease;
    
}






footer{
    
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    
}

.footerlist{
    
    display: flex;
    padding: 25px 3%;
    backdrop-filter: blur(0px);
    
}

.footerlist a{
    color: #fff;
    text-decoration: none;
    padding: 0 75px 0 90px;
    font-size: 20px;
    font-weight: 800;
    transition: all .70s ease;

}

.footerlist a:hover{
    color: aqua;
}
 





/* .mainfooter{
    padding: 30px;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(10px);
}

.footer a{
    color: #fff;

    text-decoration: none;
    padding: 0 70px;
    font-size: 20px;
    font-weight: 800;
    /* padding: 10px 20px; */



/* .footer a:hover{
    color: aqua;
    transform: ;
    transition: .3s;
} */

 */








/* .mission{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.missionimg{
    margin: 9rem ;
    margin-left: 40rem;
    height: 300px;
    width: 300px;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    transition: box-shadow 0.3s ease; 
    
}


.missionheading{
    margin: 20px;
    color: white;
    font-size: 50px;
    font-weight: 705;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    transition: text-shadow 0.3s ease; 
}


.missioncontent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.missioncontent p{
   
    color: white;
    width: 600px;
    font-size: 25px;
    font-weight: 550;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1)
} */
