



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: url(images/Home/BGPEd.png)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw; 
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

/* .logo{
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-right: 65px;
    
} */

.header::before{
    content: '';
    position: absolute;
    top: 0;
    /* left: -100%; */
    left: 0;
    width: 100%  ;
    height: 100%;
    /* background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
    background: rgba(255, 255, 255, .1);  */
    background: rgba(0, 0, 0, -1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%  ;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
    /* background: rgba(255, 255, 255, .1); 
    background: rgba(0, 0, 0, -1); */
    /* backdrop-filter: blur(50px); */
    /* z-index: -1; */

}


.header:hover::after{
    left: 100%;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-right: 65px;
    align-self: left;

}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 750;
    margin-left: 2.5rem;
    transition: .3s;
}



#check {
    display: none;
}



.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;

}


/*Breakpoints*/
@media (max-width:992px){
    .header{
        padding: 1.3rem 5%;

    }
}

@media (max-width:768px){
    .icons{
        display: inline-flex;
    }


    #check:checked~.icons #menu-icon {
        display: none;

    }
    

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;

    }
.navbar{
        position: absolute;
        top: 100%;
        
        left: 0;
        width: 100;
        /* height: 0; */
        background: rgba(0, 0, 0, -1);
        backdrop-filter: blur(50px);
        box-shadow: 0. 5rem 1rem rgba(0, 0, 0, -1);
        overflow: hidden;
        transition: .3s ease;
    } 

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
        flex-direction: column; /* Stack links vertically */
        transition: .3s ease;
    }


    #check:checked~.navbar {
    
        height: 0;
    }
    
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform-origin: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i)) ;
    }
    
}