* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);

}
 
.logo{
    height: 75px;
    width: 75px;
    border-radius: 10px;
    /* margin-right: 65px; */
}


.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%  ;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::before {
    left: 100%;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    
}

.navbar a{
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 65px;   
    font-weight: 700;
    transition: .3s;
}
.navbar a:hover {
    color: black;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s; 
}

.navbar a:hover::before{
    width: 100%;
}
body{
    min-height: 101vh;
    background: url(images/Home/a1ca9477-5065-47ae-aab5-33b6ff276569.png)no-repeat;
    background-size: cover;
    background-position: center  ;
}

/* 
.header ::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba
    (255, 255, 255, .4), transparent);
    transition: .5s;
    
} 
     */


