

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.backToHome {
    position: absolute;
    top: 60px;
    left: 35px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(0, 82, 100, 0.9);
    color: white;
    font-weight: 600;
    
}
.backToHome:hover{
    box-shadow: 0 0 3px rgba(129, 108, 108, 0.5);
}



section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about{
    background-color: #bbeeff;
    width: 100%;
    height: 600px;
}

.img1{
    /* display: flex; */
    position: relative;
    z-index: 10;
    padding-top: 20px;
    padding-right: 80px;
    width: 400px;
    
    float: right;
    margin: 5rem;
    border-radius: 20px ;
}

.backbox{
    /* display: flex;       
    padding-top: 4rem;
    padding-right: 50px;
    width: 400px;
    height: 600px;
    float: right;
    margin: 5rem;
    background-color: rgba(0, 0, 0, 0.144); */
    width:100%;
    height: 100px;
    padding-top: 100px;
    margin-top: 500px;
    background-color: #031540;
    position: absolute;
    /* bottom: -.75rem; */
    /* right: —.75rem; */
    border:4px solid ;
    z-index :5;
}

.texts{
    /* margin: 6rem 22rem 0 0 ; */
    max-width: 800px;
    margin-left: 200px;
    color:whitesmoke;
    text-align: left;

}

.texts h1{
    text-align: left;
    font-weight: 350px;
    font-size: 55px;
    line-height: 1.2;
    color: #031540;
}

.texts h3{
    font-size: 35px;
    color: rgb(0, 77, 118);
    /* -webkit-text-stroke: .5px #fff; */
    font-weight: 60px;
}

.texts p{
    font-size: 25px;
    font-weight: 550;
    color: #005282;
}






.break{
    background: #ffffff;
    height: 20px;
    width: 100vw;
}


.main-content{
    padding-top: 45px;
    padding-bottom: 10px;
    background: #035158;
    min-height: 100vh;
    width: 100vw;
}

.card-heading{
    margin-bottom: 60px;
   
}

.card-heading h2{
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 90px;
    
}

.card{
    width: auto;
    max-width: 340px;
    background-color: #1f74b9;
    /* border-radius: 10px; */
    
    overflow: hidden;
    transition: transform 0.4s ease;
}

.card:hover{
   
    box-shadow: 0 0px 6px rgba(0, 0, 0.5, 0.9);
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image_container {
    position: relative;
    text-align: left;
    /* background-color: rgba(210, 210, 210, 0.485); */
    color: white;
  }

.bottom-left {
    position: absolute;
    bottom: 12px;
    left: 16px;
    font-size:30px;
    font-weight: bold;
    
  }
.backgroundclr{
    height: 100%;
    width: 100%;
    background-color: #d93f3f;
}

.card-content{
    padding: 30px;
}

.card name{
    position: absolute;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;   
}

.card-content{
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
}

.card-content p{
    margin-bottom: 20px;
}

.card-button{
    display: inline;
    background-color: #0192ba;
    border-radius: 5px;
    padding: 8px 16px;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .5s;
}

.card-content a{
    font-size: 18px;
    font-weight: 600;
}

.card-content a:hover{
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}


.footerContent{
    background: #070F2B;
    padding: 15px;
}

.footerContent p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}


.footerlink{
    text-align: center;
}

.footerlink a{
    color: #fff;
    font-size: 35px;
    padding-top: 15px;

}

.footerlink a:hover{
    color: #00abf0;
}

::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.go-top-btn {
position: fixed;
bottom: 35px;
right: 35px;
border-radius: 50%;
cursor: pointer;
height: 60px;
width: 60px;


display: none;
justify-content: center;
align-items: center;
}

.go-top-btn img {
width: 180px;
/* height: 50px; */
}
