body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}

h1 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 50px;
    position: relative;
    top: 130px;
}

.progressBar {
    width: 590px;
    left: 400px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 210px;
}

.fillProgress {
    width: 0;
    height: 30px;
    background-color: #4575c9;
    border-radius: 5px;
    transition: width 0.5s;
}

#progressText {
    text-align: center;
    margin-top: 5px;
}

h2 {
    color: white;

}

.start {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    position: relative;
    top: 300px;
    left: 600px;
    height: 100px;
    width: 200px;

    font-size: 2.5em;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 30px rgb(74, 122, 235);
    transition: all 0.3s ease;
    cursor: pointer;
}

.start:hover {
    background: linear-gradient(45deg, #0072ff, #00c6ff);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


.output {

    position: absolute;
    top: 180px;
    left: 1000px;
    height: 500px;
    width: 370px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.outputName {
    position: relative;
    top: 20px;
    color: white;
    font-weight: bold;
    padding: 5px;
}


.div1Name {

    position: relative;
    top: 250px;
    left: 390px;
    height: 200px;
    width: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgb(164, 161, 161);
    /* box-shadow: 0 0 30px rgba(0, 0, 0, .5); */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}


.div1Name .div2Name {
    width: 100%;
    padding: 20px;
}

.div2Name input {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: solid rgb(59, 55, 55);
}

.yourName {
    position: relative;
    top: 20px;
    color: white;
    font-weight: bold;



}

/* .maleRadioBttn {
    position: absolute;
    top: 0px;
    color: white;
    font-weight: bold;
    padding: 18px;
} */

.next {
    position: absolute;
    left: 350px;
    top: 150px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
    width: 70px;
    text-align: center;
    cursor: pointer;
    border: solid rgb(59, 55, 55);

}

.skip {
    position: absolute;
    left: 480px;
    top: 150px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
    width: 70px;
    text-align: center;
    cursor: pointer;
    border: solid rgb(59, 55, 55);

}


.div2Privacy {

    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 5px;

}

.selectGender {
    position: relative;
    top: 10px;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.yesNoBethween label {
    margin-right: 30px;

}

.line1 {
    position: relative;
    top: 20px;
}

.line2 {
    position: relative;
    top: 25px;
}

.line3 {
    position: relative;
    top: 25px;
}

.center {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.edit {
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 570px;
    top: 300px;
}

.submit {
    position: absolute;
    left: 720px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    top: 300px;

}


/* .footer {

    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    top: 200px;
}

.footerlist {

    display: flex;
    padding: 25px 3%;
    backdrop-filter: blur(0px);
}

.footerlist a {
    color: #fff;
    text-decoration: none;
    padding: 0 75px 0 90px;
    font-size: 20px;
    font-weight: 800;
    transition: all .70s ease;

}

.footerlist a:hover {
    color: aqua;
} */