*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.img1{
    float: left;
    margin-right: 5px;
    padding: 4px 4px;
    /* margin: 20px; */
 
    height: 160px;
    
    border: 1px solid whitesmoke;
    
    /* padding-top: 1rem; */
}


.T1{
 
    
     /* margin-top: 44px; */
    border-radius: 1rem;
   
    backdrop-filter: blur(30px);
   
}

h2{
    text-align:left;
    align-items: flex-start;
    
}

.p1{
    
      font-weight: 500;
   text-align: justify; 
     font-size: 17px; 
     
} 

.Container{
    display: grid;
    gap: rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    width: 95%;
    margin-top: 150px;

}




.T1{
    
    /* background-color:whitesmoke; */
    margin-left: 2rem;
    padding: 1rem;
    color: aliceblue;

   
    box-shadow : 0px 2px 4px rgba(0, 0, 0, .2);
   

}

.T1:hover{
    backdrop-filter: blur(90px);
    /* background-color: rgba(62, 62, 62, 62); */
    color:aqua; 
    transform: scale(1.03);
    transition: all .1s ease;
     
}
