body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    position: absolute;
    top: 10px;
    left: 480px;
    font-size: 60px;
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.mainDiv {
    width: 1300px;
    height: 450px;
    padding: 80px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgb(164, 161, 161);
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 20px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.team_Member {
    position: relative;
    width: 250px;
    height: 250px;
}

.team_Member img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.team_Member:hover img {
    transform: scale(1.1);
}

.sudent_details {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.team_Member:hover .sudent_details {
    opacity: 1;
    bottom: 0;
}

.work {
    font-size: 15px;
}